In [1]:
import os
import pandas as pd
from utils import *

In [2]:
df = read_and_preprocess('7Nov')
df

     Femmes  Hommes  Enfants  WCHR Classe TransitTime
0         0       1        0     0      Y    01:15:00
1         1       0        0     0      Y    00:00:00
2         0       1        0     0      Y    00:00:00
3         1       0        0     0      Y    00:00:00
4         0       2        0     0      Y    05:25:00
..      ...     ...      ...   ...    ...         ...
106       1       0        0     0      Y    03:30:00
107       2       0        0     0      Y    05:25:00
108       2       0        0     0      Y    05:25:00
109       2       0        0     0      Y    01:35:00
110       0       1        0     0      Y    01:00:00

[111 rows x 6 columns]

In [3]:
list_groupes = get_list_passagers(df)

In [4]:
print(list_groupes[0])

Groupe #0 avec 4 passager(s), classe Y et temps de transit de 01:15:00

In [5]:
list_groupes[0]

groupe #0

In [6]:
for passager in list_groupes[0].iter_passagers():
    print(passager)

Passager catégorie femmes du groupe #0, classe Y et temps de transit de 01:15:00
Passager catégorie hommes du groupe #0, classe Y et temps de transit de 01:15:00
Passager catégorie enfants du groupe #0, classe Y et temps de transit de 01:15:00
Passager catégorie WHCR du groupe #0, classe Y et temps de transit de 01:15:00